    html,body {
        width: 100%;
        margin: 0px;
        top: 0px;
        margin-top: 0px;
        background-color: #E5E5E5;
        font-family: 'RobotoDraft', sans-serif;
    }

    a, a:active, a:link, a:visited {
        text-decoration: none;
        color: #fff;

    }

    .medium-tall {
        background: #03a9f4;
        color: white;
        padding: 0;
        margin: 0;
        letter-spacing: 0.025em;
        z-index: 1;
        width: 100%;
        margin-bottom: 12px;
        margin-top: 0;

    }

    .medium-tall ul li {
        display: inline-block;
        padding: 0 3em 0 3em;
        line-height: 3em;
    }

    .medium-tall ul li:hover {
        background-color: #2F3E9E;
    }

  


#load_bar {
    background: black;
    width:  100%;
    height: 6px;

}

section {
    margin-left: 2em;
    margin-right: 2em;
}

    .card {        
        background-color: white;
        width: 480px;
        height: 360px;
    }

        .img_proyect {
            height: 100%;
            width: 100%;
        }

        .percentage {
            margin: 0px;
            color: #fff;
            font-size: 5em;
            position: absolute;
            top: 45%;
            z-index: 1;
        }

    .helpers {
        width: 33.3%;
        height: 33.3%;
        background-color: red;
        display: block;

    }

    .time {
        width: 33.3%;
        height: 33.3%;
        background-color: blue;
    }

    .goal {
        width: 33.3%;
        height: 33.3%;
        background-color: green;
    }


